body {
    background-color: #E8FFCE;
    height: max-content;
    color: #001c30;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.card {
    width: 35%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    border-radius: 7px;
    text-align: center;
    background-color: #FFF;
    box-shadow: -6px 6px 6px #D0F5BE;
}

.img-container {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #D0F5BE;
    box-shadow: -4px 4px 3px rgb(216, 230, 201);
}

.img-circle {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    color: #176B87;
}

p {
    font-size: 18px;
}

.btn-green-tea {
    border: 0px;
    background-color: #0EA293;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    border: 2px solid #0EA293;
    cursor: pointer;
    box-shadow: -4px 4px 3px rgb(212, 228, 195);
}

.btn-green-tea:hover {
    background-color: white;
    color: #0EA293;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline>li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: #0EA293;
    font-size: 50px;
}

a:hover {
    color: #27E1C1;
}

@media (max-width: 960px) {

    /* For a screen < 960px, this CSS will be read */
    .container {
        width: 700px;
    }

    .card {
        width: 85%;
    }
}

@media (max-width: 720px) {

    /* For a screen < 720px, this CSS will be read */
    .container {
        width: 500px;
    }

    .card {
        width: 85%;
    }
}

@media (max-width: 540px) {

    /* For a screen < 540px, this CSS will be read */
    .container {
        width: 100%;
        margin: 90px auto;
    }

    .card {
        width: 80%;
        margin: 0 auto;
        padding: 20px 30px;
        margin-top: 30px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        line-height: 10px;
    }

    .img-container {
        width: 110px;
            height: 110px;
    }

    a {
        font-size: 40px;
    }
}